<div class="container">
<h3 align="left">
	URL Shortener
</h3>

<p>Made By: Piyush Parashar &copy;</p>
</div>
<div style="background: rgba(100,100,255,0.2); margin-top: 15px; margin-bottom: 15px;  height: 90px;" class="container">
	<p style="font-size: 20px">Simplify Your Links</p>
	<span>
		<form class="form-inline">
		<input style="width: 70%;" class="form-control" type="text" name="original" placeholder="Your original URL here" #text />
	    <button class="btn btn-success" (click) = "onAdd()">Shorten URL</button>
	</form>
	</span>
</div>

<div class="container panel panel-default">
	<div class="panel-heading">
		<span>
			<span style="margin-left: 200px;"> Original URL</span> 
			<span style = "float: right; margin-right: 200px; ">Shortened URL</span>
		</span>
	</div>
</div>

 	<app-list *ngFor = "let el of url"
	           [orig] = "el.orig"
	           [short] = "el.short">
	</app-list>        
  
